/* =================  BODY =================== */

body{
    background-image: linear-gradient(to bottom,  #ffffff, #ebf0f3fd);
}

#sidenav{
    background:whitesmoke;
    color: black;
    box-shadow:10px 0px 20px rgba(0,0,0,0.2);
}