/* ======================================  BODY ======================================== */

#profile-photo-upload-button{
  color: black;
  width: 70%;
  line-height: .5rem;
  background: #ebebd2;
  border: white;
  margin: .5rem;
}

#save-profile-changes{
  margin-right: .1rem;
  justify-content: flex-end;
}


html {
    min-height: 100%;
    min-width:100%;
}
body{
    background-image: linear-gradient(to bottom,  #ffffff, #9abee7b0);
    min-height:100%;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: maroon;
  margin-left: .5rem;
  -moz-osx-font-smoothing: grayscale;
}
.btn-light {
  color: #212529;
  background-color: #fae5c0;
  border-color: #f8f9fa;
  width: 100%;
  margin: 0rem;
  padding: .2rem;
}
.btn-primary {
  color: #fff;
  background-color: #323a45;
  border-color: #fd9d2b8a;
}
.h5, h5 {
  font-size: 1.2rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  margin: .125rem 0 0;
  padding:.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: center;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #d2e1f2;
  border-radius: .25rem;
  width: -webkit-fill-available;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}


a {
  color: black;
  font-style: inherit;
  text-decoration: none;
  background-color: transparent;
}

.recently-added-container{
  margin-top: 1rem;
  margin-bottom: 5rem;
  justify-content: center;

}
.subtitle{
  justify-content:center;
  margin-top: 2rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dacece14;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* ============================ SHOP.JSX ========================== */
.container{
  width: inherit;
}
.page-container {
  margin-top: 7rem;
  margin-left: 0rem;
  margin-bottom:5rem;
}
#sidenav{
  background:whitesmoke;
  color: black;
  box-shadow:10px 0px 20px rgba(0,0,0,0.2);
  border-radius:10px;
  margin-left:10px;
}
select {
  margin: 5%;
  width: 90%;
}

.sidenav-search-button{
  width:90%;
  margin:5%;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 2.5rem;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 14rem;
  max-width: 16rem;
  word-wrap: break-word;
  background-color:whitesmoke;
  color: black;
  box-shadow:10px 0px 20px rgba(0,0,0,0.2);
  border-radius:20px;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .50rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.card-title {
  margin-bottom: 0rem;
}

.card-img, .card-img-top {
  /* border-top-left-radius: calc(.25rem - 1px); */
  /* border-top-right-radius: calc(.25rem - 1px); */
  border-radius: inherit;
}

.more-info-button{
  margin-top:0rem;
  margin-bottom:0rem;
  width:99%;
}
.favorite-button{
  margin:.75rem;
  margin-top:0rem;
  margin-bottom:0rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: .75rem;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: inherit;
}

.col-12 {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
/* ============================ PRODUCT-PAGE.JSX ========================== */
.productpageimage {
  max-width: 25rem;
  margin-left: 2rem;
}

.productpageinfo{
  margin-top:1rem;
}

/* ============================ USER-PROFILE.JSX ========================== */

.tab-container{
  margin:1.5rem;
}
.btn-primary{
  color: #fff;
  background-color: #323a45;
  border-color: #fd9d2b8a;
}
#upload_widget {
  background-color: #323a45;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  height: 28x;
  cursor: pointer;
  font-weight: normal;
  display: inline-block;
  border-radius: 5px;
  padding: 8px 8px;
}
/* ============================ PROFILE CARD ========================== */

.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
  background-color:transparent;
  margin:2rem;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:transparent;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background:linear-gradient(to bottom, #323a45, #d8e8fb00); ;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}

/* ============================ ADD-PRODUCT.JSX ========================== */
#submit-product-button-group{
  justify-content: right;
}

#submit-product-button{
  width:100%
}

#submit-product-description-group{
  margin-top:.5rem;
}

#upload-product-image{
  background-image: url('https://www.chillinoodle.co.uk/skin/frontend/chillinoodle/default/images/catalog/product/placeholder/image.jpg');
  background-position: center; /* Center the image */
  min-width:16rem;
  min-height:16rem;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-left: 0rem;
  margin-bottom: .5rem;
}

#upload-product-image-button{
  color:white;
  width: 100%;
}