<!DOCTYPE HTML>
<html>
<head>
  <title>{% block title %}Moral Authority{% endblock %}</title>

    <!-- We'll load React dependencies on all pages for this app. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href = "https://fontawesome.com/">

  <!--react router Dom-->
  <script src="https://unpkg.com/react-router/umd/react-router.min.js%22%3E"></script>
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js%22%3E"></script>

  // link rel="stylesheet" href="/static/css/styles.css">
  <script src="http://code.jquery.com/jquery.js"></script>
</head>
<body>
  <!------------------- HEADER HTML --------------------------->
  <!---HEADER CSS GRID ELEMENT SEPARATED INTO THREE HTML COLUMNS--->


<!------------------- SECOND HEADER HTML --------------------------->

  {% block content %}BODY CONTENT GOES HERE{% endblock %}

  <!------------------- FOOTER HTML --------------------------->
  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <a class="navbar-brand" href="#">About</a>
      <a class="navbar-brand" href="#">Contact</a>
    </nav>
</footer>

</body>
</html>

  <!-- <link href="/static/css/site.css" rel="stylesheet"> -->
</head>
<body>
  <!-- Include the page's content with this block. -->
  {% block body %}
  {% endblock %}

  <!-- Include any page-specific Javascript using this block. -->
  {% block js %}
  {% endblock %}
</body>
</html>