{% extends 'base.html' %}

{% block title %}My awesome page title{% endblock %}

{% block content %}

  <div class="form"> 
      <h1><a href="index.html">Moral Authority</a></h1>
      <p class="login-form">Coming Soon - Join our Waitlist!</p>
      <form method="post" action="">
      <p><input type="text" placeholder= "Email"></p>
      <p><input type="text" placeholder= "Password"></p>
      <div class="registerbutton">
          <a href="#"class="register">Sign-In</a>
      </div>
      </form>
  </div>


{% endblock %}