{% extends 'base.html' %}

{% block title %} login{% endblock %}

{% block body %}
  <!-- Mount your react components on to this element. -->
  <div id="app"></div>

  <!-- <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                MORAL AUTHORITY
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form action="/login" Method="POST">
                        <div class="form-group">
                            <label class="form-control-label">EMAIL</label>
                            <input type="text" name="login-email" class="form-control" required=True>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">PASSWORD</label>
                            <input type="text" name="login-password" class="form-control" required=True>
                        </div>

                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-text">
            
                            </div>
                            <div class="col-lg-6 login-btm login-button">
                                <button type="submit" class="btn btn-outline-primary">LOGIN</button>
                            </div>
                            <div class="col-lg-6 login-btm login-button">
                              <a href="/signup">Register</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
{% endwith %} -->




  <!-- <h1><a href="/homepage">Moral Authority</a></h1>
  <form action='/signup' Method="POST">
    <input type="text" name="email" placeholder= "Email"></input>
    <input type="text" name="password" placeholder= "Password"></input>
    <button type="submit" id="signup">Login</button>
    <button type="submit" action='/signin'>Don't have an account?</button>
  </form>  -->
{% endblock %}

{% block js %}
	<script src="/static/js/login.jsx" type="text/jsx"></script>
{% endblock %}