{% extends 'base.html' %}

{% block title %}My awesome page title{% endblock %}

{% block content %}

  <h2>This is my Signup page</h2>
  <div id="header"></div>
  <div id="leftside"></div>
  <div class="form"> 
      <h1><a href="index.html">Moral Authority</a></h1>
      <p class="login-form">Coming Soon - Join our Waitlist!</p>
      <form method="post" action="">
      <p><input type="text" placeholder= "First"></p>
      <p><input type="text" placeholder= "Last"></p>
      <p><input type="text" placeholder= "Email"></p>
      <div class="registerbutton">
          <a href="#"class="register">Register</a>
      </div>
      </form>
  </div>
  <div id="rightside"></div>
  <div id="footer"></div>
  

{% endblock %}