{% extends 'base.html' %}

{% block title %}My awesome page title{% endblock %}

{% block content %}

  <div class="form"> 
      <h1><a href="index.html">Moral Authority</a></h1>
      <form method="post" action="">
      <p><input type="text" placeholder= "First"></p>
      <p><input type="text" placeholder= "Last"></p>
      <p><input type="text" placeholder= "Email"></p>
      <div class="registerbutton">
          <a href="#"class="register">Register</a>
      </div>
      </form>
  </div>

{% endblock %}