{% extends 'base.html' %}

{% block title %}signup{% endblock %}

{% block body %}
  <!-- Mount your react components on to this element. -->
  <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                MORAL AUTHORITY
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form action='/signup' Method="POST">
                        <div class="form-group">
                            <label class="form-control-label">FIRST</label>
                            <input type="text" name="fname" class="form-control" required=True>
                        </div>
                        <div class="form-group">
                          <label class="form-control-label">LAST</label>
                          <input type="text" name="lname" class="form-control" required=True>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">EMAIL</label>
                            <input type="text" name="email" class="form-control" required=True>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">PASSWORD</label>
                            <input type="password" name="password" class="form-control" required=True>
                        </div>

                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-text">
                                <!-- Error Message -->
                            </div>
                            <div class="col-lg-6 login-btm login-button">
                                <button type="submit" class="btn btn-outline-primary">SIGNUP</button>
                            </div>
                            <div class="col-lg-6 login-btm login-button">
                                <a href="/login">Login</a>
                              </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
    {% endwith %}


{% endblock %}

{% block js %}
	<script src="/static/js/signup.jsx" type="text/jsx"></script>
{% endblock %}








  <!-- <h1><a href="/homepage">Moral Authority</a></h1>
  <form action='/signup' Method="POST">
    <input type="text" name="fname" placeholder= "First"></input>
    <input type="text" name="lname" placeholder= "Last"></input>
    <input type="text" name="email" placeholder= "Email"></input>
    <input type="text" name="password" placeholder= "Password"></input>
    <button type="submit" id="signup">Signup</button>
    <button type="submit" action='/login'>Already have an account?</button>
  </form>  -->